.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.panel_navigation {
    height: 100%;
    background-color: var(--color-panel);
    box-shadow: 10px 0 10px var(--color-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 50px;
    position: relative;
    z-index: 2;
}

.panel_sub_navigation {
    height: 100%;
    width: 60px;
    background-color: var(--color-panel);
    box-shadow: 10px 0 10px var(--color-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    justify-content: start;
    position: relative;
    z-index: 2;
    gap: 10px;
    overflow: hidden;
}

.window {
    flex: 1;
    transition: 1.2s;
    position: relative;
    z-index: 1;
}

.buttons_panel {
    flex: 1;
    transition: 1.2s;
    position: relative;
    z-index: 1;
}

.up_icon {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.up_icon_with_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.title {
    font-size: var(--font-size-title-panel);
    font-family: 'Biform', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    color: var(--color-white-text);
    transition: 0.5s;
}

.link {
    font-size: var(--font-size-link-panel);
    font-family: 'Biform', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    color: var(--color-white-text);
    transition: 0.5s;
}

.icon_with_title {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.icon_with_title:hover > .title, .icon_with_title:hover > .link, .icon_with_title_active > .link, .icon_with_title_active > .title {
    color: var(--color-active-text);
}

.icon_with_title:hover svg, .icon_with_title_active svg {
    fill: var(--color-active-text);
}

.body_navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 1;
}

.body_panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    overflow: hidden;
    height: calc(100% - 42px);
    transition: 1s;
}

.links_navigation {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

