:root {

    --main-background: #233346;
    --color-header: rgba(40, 46, 57, 0.75);
    --color-panel:  rgba(40, 46, 57, 0.75);
    --color-shadow: rgba(0, 0, 0, 0.25);
    --color-white-text: #ffffff;
    --color-active-text: #FD9968;
    --color-main-purple: #8E92FB;
    --color-main-red: #ff0000;


    --color-white-text-opacity-50: rgba(255, 255, 255, 0.5);
    --color-white-text-opacity-10: rgba(255, 255, 255, 0.1);
    --color-white-text-opacity-90: rgba(255, 255, 255, 0.9);

}