.main {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-white-text-opacity-10);
    transition: 0.5s;
    font-family: Biform, sans-serif;
}

.main:hover,.active {
    background-color: var(--color-white-text-opacity-90);
}

.main:hover .student,
.active .student {
    color: var(--main-gray);
}

.main:hover .name,
.active .name {
    color: var(--main-gray);
}

.main:hover .email,
.active .email {
    color: var(--color-main-gray-opacity-50);
}

.main:hover .date,
.active .date  {
    color: var(--color-main-gray-opacity-50);
}

.main:hover .signature,
.active .signature  {
    color: var(--color-main-gray-opacity-75);
}

.description {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.description_column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 5px;
}

.description_column_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 5px;
}

.description_end {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.status {
    border: 1px solid var(--color-active-text);
    background-color: transparent;
    color: var(--color-active-text);
    font-size: var(--font-size-button-panel);
    white-space: nowrap;
    padding: 5px;
    box-sizing: border-box;
}

.name {
    color: var(--color-white-text);
    font-family: Biform, sans-serif;
    font-size: var(--font-size-link-panel);
    text-align: left;
    transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.date {
    color: var(--color-white-text-opacity-50);
    font-size: var(--font-size-button-panel);
    transition: 0.5s;
    white-space: nowrap;
}

.student {
    color: var(--color-white-text);
    font-family: Biform, sans-serif;
    font-size: var(--font-size-button-panel);
    text-align: left;
    transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.signature {
    color: var(--color-white-text-opacity-75);
    font-family: Biform, sans-serif;
    font-size: var(--font-size-button-panel);
    text-align: left;
    transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.email {
    color: var(--color-white-text-opacity-50);
    font-family: Biform, sans-serif;
    font-size: var(--font-size-button-panel);
    text-align: left;
    transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}