.main {
    width: 100%;
    font-family: Biform, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_label {
    font-size: var(--font-size-form-label);
    color: var(--color-white-text);
    text-align: left;
}

.main_options {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.main_option {
    padding: 10px 10px;
    font-size: var(--font-size-form-input);
    color: var(--color-white-text);
    border: 1px solid var(--color-white-text);
    transition: 1s;
    box-sizing: border-box;
    cursor: pointer;
}

.main_option:hover {
    border: 1px solid var(--color-active-text);
    background-color: var(--color-active-text);
}

.main_option_active {
    border: 1px solid var(--color-active-text);
    background-color: var(--color-active-text);
}

.main_error {
    color: var(--color-main-error);
    font-size: var(--font-size-form-error);
}
