.main {
    width: 100%;
    font-family: Biform, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_label {
    font-size: var(--font-size-form-label);
    color: var(--color-white-text);
}

.main_input_wrapper {
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-white-text-opacity-50);
}

.main_input_wrapper_invalid {
    border-bottom: 1px solid var(--color-main-red);
}

.main_input {
    font-size: var(--font-size-form-input);
    font-family: Biform, sans-serif;
    color: var(--color-white-text);
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    max-height: 400px;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    min-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.main_input::placeholder {
    color: var(--color-white-text-opacity-25);
}

.main_error {
    color: var(--color-main-error);
    font-size: var(--font-size-form-error);
}